$container-width: 960px;
$container-responsive-width: 980px;
$tablet-width: 768px;
$mobile-width: 414px;
$small-mobile-width: 360px;

$footer-height_desktop: 66px;
$footer-height_mobile: 98px;

$color-blue: #0500f4;
$color-blue2: #0500f4;
$color-orange: #ff7800;
$bg-color: #edeff2;
